.date_range_search.left
  %span.date_entry Enter Start Date
  %input{id: 'start_date_range_search_datepicker', type: 'text'}
  %br
  %br
  %span.date_entry Enter End Date
  %input{id: 'end_date_range_search_datepicker', type: 'text'}
  %br
  %br
  %br
  %span#date_range_search_results