.starting_area
  .big_button.shadow.left#start_date_button
    %span My Start Date Search
  .big_button.shadow.right#date_range_button
    %span Date Range Search
= haml :_start_date_search
= haml :_date_range_search